doctype html
html
  head
    meta(chartser='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/js/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/js/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap-extension.css')
    link(rel='stylesheet', href='/css/carousel-custom-01.css')
    link(rel='stylesheet', href='/css/isotope.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    



    
  body
    block content
